.property-overview {
  display: flex;
  flex-direction: column;

  padding: 1rem 1rem;

  gap: 1rem;

  width: 100%;
  height: 500px;

  border-radius: 10px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.04),
    0 8px 24px rgba(0, 0, 0, 0.06);

  background: transparent;
}

.property-overview > .overview-item {
  display: flex;
  justify-content: space-between;

  background-color: transparent;

  border-bottom: 0.5px solid var(--text-grey);
  padding: 0.5rem 0rem;

  font-size: 0.9rem;
}

.overview-item.listed-overview {
  border-bottom: none;
}
